# Passwords for nextcloud
#
# Rename these passwords to actual ones
# and rename this file to .env

# Пароли
POSTGRES_PASSWORD=super_secret_db_pass # <- change this
REDIS_HOST_PASSWORD=super_secret_redis_pass # <- change this
NEXTCLOUD_ADMIN_PASSWORD=super_secret_admin_pass # <- change this


# Конфигурация для PROD
# ----------------------

# Настройки домена для Caddy и Nextcloud
NEXTCLOUD_DOMAIN=domain.name.com # <- change this
NEXTCLOUD_TRUSTED_DOMAINS=domain.name.com # <- change this

# Исправление протоколов для продакшена (HTTPS)
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=https://domain.name.com  # <- change this


# Конфигурация для localhost (раскомментировать)
# ----------------------------------------------

# # Настройки домена для Caddy и Nextcloud
# NEXTCLOUD_DOMAIN= # <- change this
# NEXTCLOUD_TRUSTED_DOMAINS= # <- change this

# # Исправление протоколов для продакшена (HTTPS)
# OVERWRITEPROTOCOL=
# OVERWRITECLIURL=  # <- change this
